<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <!--
       
    <component
			  id="ID"
			  service="interface,interface assymbly"
			  type="implement ,implement assymbly" 
        lifestyle="transient | singleton | perThread | pooled | custom"
     >
           <port>10</port>
          <host>smtphost</host>
     </component>
       -->

    <component
       id="velocity"
       service="Castle.Components.Common.TemplateEngine.ITemplateEngine, Castle.Components.Common.TemplateEngine"
       type="Castle.Components.Common.TemplateEngine.NVelocityTemplateEngine.NVelocityTemplateEngine, Castle.Components.Common.TemplateEngine.NVelocityTemplateEngine">
      <parameters>
          <templateDir>D:\workspace\test\</templateDir>
      </parameters>
    </component>
    
  </components>

</configuration>
