<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>
    <component id="MpChannelInfoDao" 
                      service="CMS.DataAccess.Interface.IChannelInfoDao, CMS.DataAccess" 
                      type="CMS.DataAccess.Implement.ChannelInfoDao, CMS.DataAccess" />
    <component id="MpChannelPrivilegeDao"
                      service="CMS.DataAccess.Interface.IChannelPrivilegeDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.ChannelPrivilegeDao, CMS.DataAccess" />
    <component id="MpDataBlockDao"
                      service="CMS.DataAccess.Interface.IDataBlockDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.DataBlockDao, CMS.DataAccess" />
    <component id="MpFeedBackDao"
                      service="CMS.DataAccess.Interface.IFeedBackDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.FeedBackDao, CMS.DataAccess" />
    <component id="MpFileStoreDao"
                      service="CMS.DataAccess.Interface.IFileStoreDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.FileStoreDao, CMS.DataAccess" />
    <component id="MpJobInfoDao"
                      service="CMS.DataAccess.Interface.IJobInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.JobInfoDao, CMS.DataAccess" />
    <component id="MpJobTypeDao"
                      service="CMS.DataAccess.Interface.IJobTypeDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.JobTypeDao, CMS.DataAccess" />
    <component id="MpModuleInfoDao"
                      service="CMS.DataAccess.Interface.IModuleInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.ModuleInfoDao, CMS.DataAccess" />
    <component id="MpNewsDocDao"
                      service="CMS.DataAccess.Interface.INewsDocDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.NewsDocDao, CMS.DataAccess" />
    <component id="MpRecommedInfoListDao"
                      service="CMS.DataAccess.Interface.IRecommedInfoListDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.RecommedInfoListDao, CMS.DataAccess" />
    <component id="MpRecommedPositionDao"
                      service="CMS.DataAccess.Interface.IRecommedPositionDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.RecommedPositionDao, CMS.DataAccess" />
    <component id="MpResumeDao"
                      service="CMS.DataAccess.Interface.IResumeDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.ResumeDao, CMS.DataAccess" />
    <component id="MpRoleInfoDao"
                      service="CMS.DataAccess.Interface.IRoleInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.RoleInfoDao, CMS.DataAccess" />
    <component id="MpRolePrivilegeDao"
                      service="CMS.DataAccess.Interface.IRolePrivilegeDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.RolePrivilegeDao, CMS.DataAccess" />
    <component id="MpSpecialChannelDao"
                      service="CMS.DataAccess.Interface.ISpecialChannelDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.SpecialChannelDao, CMS.DataAccess" />
    <component id="MpSpecialInfoDao"
                      service="CMS.DataAccess.Interface.ISpecialInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.SpecialInfoDao, CMS.DataAccess" />
    <component id="MpSystemLogDao"
                      service="CMS.DataAccess.Interface.ISystemLogDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.SystemLogDao, CMS.DataAccess" />
    <component id="MpTagDefineDao"
                      service="CMS.DataAccess.Interface.ITagDefineDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.TagDefineDao, CMS.DataAccess" />
    <component id="MpTemplateBackupDao"
                      service="CMS.DataAccess.Interface.ITemplateBackupDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.TemplateBackupDao, CMS.DataAccess" />
    <component id="MpTemplateInfoDao"
                      service="CMS.DataAccess.Interface.ITemplateInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.TemplateInfoDao, CMS.DataAccess" />
    <component id="MpTemplateDataUseInfoDao"
                      service="CMS.DataAccess.Interface.ITemplateDataUseInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.TemplateDataUseInfoDao, CMS.DataAccess" />
    <component id="MpUserInfoDao"
                      service="CMS.DataAccess.Interface.IUserInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.UserInfoDao, CMS.DataAccess" />
    <component id="MpGlobalVariableDao"
                      service="CMS.DataAccess.Interface.IGlobalVariableDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.GlobalVariableDao, CMS.DataAccess" />
    <component id="MpPagerInfoDao"
                      service="CMS.DataAccess.Interface.IPagerInfoDao, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.PagerInfoDao, CMS.DataAccess" />
    <component id="MpDownload_PasswordDao"
                      service="CMS.DataAccess.Interface.IDownload_Password, CMS.DataAccess"
                      type="CMS.DataAccess.Implement.Download_PasswordDao, CMS.DataAccess" />
  </components>
  
</configuration>