<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="userid" value="sa" />
  <add key="password" value="jileifei" />
  <add key="database" value="DentsuDB" />
  <add key="datasource" value="." />
  <add key="root" value="CMS.Domain.Map." />
  <add key="assymbly" value="CMS.Domain" />
</settings>

<!--<settings>
  <add key="userid" value="dentsu" />
  <add key="password" value="dentsu@123" />
  <add key="database" value="DentsuDB" />
  <add key="datasource" value="118.193.166.74" />
  <add key="root" value="CMS.Domain.Map." />
  <add key="assymbly" value="CMS.Domain" />
</settings>-->
