<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="properties_sqlmap.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>
  
  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="keywords" 
                      connectionString="Server=${datasource}; User ID=${userid};Password=${password};Database=${database};Persist Security Info=True"
     />
  </database>
  
   <sqlMaps>
     <sqlMap embedded="${root}ChannelInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}ChannelPrivilege.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}DataBlock.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}FeedBack.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}FileStore.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}JobInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}JobType.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}ModuleInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}NewsDoc.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}RecommedInfoList.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}RecommedPosition.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}Resume.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}RoleInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}RolePrivilege.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}SpecialChannel.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}SpecialInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}SystemLog.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}TagDefine.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}TemplateBackup.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}TemplateInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}TemplateDataUseInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}UserInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}GlobalVariable.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}PagerInfo.Map.xml,${assymbly}" />
     <sqlMap embedded="${root}download_password.Map.xml,${assymbly}" />
   </sqlMaps>

</sqlMapConfig>