@{
    Layout = "";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>图片上传</title>
    <link href="/content/site.css" type="text/css" rel="stylesheet" />
    <link href="/content/SwfUpload2.5.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    #filelist table{border-collapse:collapse;}
    #filelist td{background:#fff;border:solid 1px #ccc;height:22px;}
    </style>
</head>
<body>
<form target="formTarget" method="post" action="/" id="form2" enctype="multipart/form-data">
<table width="760" cellspacing="0" cellpadding="3">
	<tbody>
    <tr>    
	    <td valign="middle" height="26" class="blockTd" colspan="2">    
		    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:url(/content/images/divchildtabBarBg.gif) repeat-x left bottom; margin-bottom:1px;">    
			    <tbody>
				    <tr>      
					    <td valign="bottom" height="30" style="padding:0 0 0 6px;_padding:0 0 0 2px;">
						    <div class="divchildtabCurrent" id="ImageUpload" onselectstart="return false" style="-moz-user-select:none;">
							    <img src="/content/images/icon030a13.gif" alt="图片上传"/><b>图片上传</b>
						    </div>
					    </td>   
				    </tr>   
			    </tbody>
		    </table>
	    </td>
    </tr>
    <tr>
		<td width="75%" valign="top">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody>
                <tr>
				<td valign="top" style="height:190px">
				<fieldset id="filelist"><legend>图片上传:(支持jpg,gif,jpeg,png,bmp,tif文件上传)</legend>
                    <div style="width: 180px; height: 18px; border: solid 1px #7FAAFF; background-color: #F7FAFC;padding: 2px;"><span id="spanButtonPlaceholder"></span></div>
                    <div id="divStatus"></div>
				    <div style="width:565px;" id="vinSwfUpload_context_editContent_1" class="vinSwfUpload_context_editContent">
	                    <div style="width:565px;" id="files_content_1" class="files_content">
		                    <div class="files_header">
			                    <div class="file_name_header">文件名</div>
                                <div class="file_size_header">大小(K) </div>
			                    <div class="file_type_header">类型</div>
			                    <div class="file_state_header">状态</div>
                                <div class="file_rate_header">进度</div>
		                    </div>
		                    <div style="width:565px;height:130px;" id="divFileContainer" class="vinSwfUpload_swfupload_files_content">
			                    
		                    </div>
	                    </div>
                    </div>
				</fieldset>
				</td>
			</tr>
			<tr>
				<td style="height:190px">
				<fieldset><legend> <label>参数设置</label></legend>
				<table width="100%" cellspacing="0" cellpadding="2">
					<tbody><tr>
						<td width="39%" valign="top" align="left">
						<table width="100%" cellspacing="0" cellpadding="2">
							<tbody><tr>
								<td width="24%" align="right">图片水印：</td>
								<td width="76%">
                                    <div>
                                        <select id="selWaterMark" name="WaterMark">
                                            <option value="0">-请选择-</option>
                                            <option value="1">文字水印</option>
                                            <option value="2">图片水印</option>
                                        </select>
                                    </div>
                                    <div id="divMsg"></div>
								</td>
							</tr>
                            <tr>
								<td align="right">水印位置：</td>
								<td>
                                    <select id="selWaterMarkPosition" name="WaterMarkPosition">
                                        <option value="WM_BOTTOM_RIGHT">右下角</option>
                                        <option value="WM_TOP_RIGHT">右上角</option>
                                        <option value="WM_TOP_LEFT">左上角</option>
                                        <option value="WM_CENTER">中间</option>
                                        <option value="WM_BOTTOM_LEFT">左下角</option>
                                    </select>
                                </td>
							</tr>
                            <tr><td colspan="2"><hr /></td></tr>
                            <tr>
								<td valign="top" align="right">缩略图水印：</td>
								<td>
								 <label><input type="checkbox" name="chHasWaterMark1" id="chHasWaterMark1" class="inputCheckbox"/></label>
								</td>
							</tr>
                            <tr>
                                <td valign="top" align="right">处理缩略图方式：</td>
								<td>
								    <select id="selThumType" name="selThumType">
                                        <option value="0">-请选择-</option>
                                        <option value="1">自定义尺寸</option>
                                        <option value="2">指定最长边尺寸</option>
                                        <option value="3">指定最短边尺寸</option>
                                        <option value="4">指定图片宽度</option>
                                        <option value="5">指定图片高度</option>
                                    </select>
								</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="text" id="txtThumSize" name="txtThumSize" />(自定义尺寸：按照width*height格式指定)</td>
                            </tr>
						   </tbody>
                           </table>
						</td>
					</tr>
				</tbody></table>
				</fieldset>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="25%" valign="top">
		<fieldset><legend>预览</legend>
		<div id="preview_wrapper">
            <div class="preview_fake" style="height:357px;" id="divPreview">
                
            </div>  
		</div>
		<div style="position:relative;height:1px;overflow:hidden;">
		    <img id="preview_size_fake" alt="" src="#"/>
		</div>
		</fieldset>
		</td>
	</tr>
    <tr><td><a id="uploadButton" class="zPushBtn" href="javascript:void(0);"><img src="/content/images/icon030a2.gif" alt="上传"/><b>上传&nbsp;</b></a>&nbsp;<a id="aOKButton" class="zPushBtn" href="javascript:void(0);"><img src="/content/images/icon030a13.gif" alt="上传"/><b>确定&nbsp;</b></a></td></tr>
    <tr><td id="tdFileProgressContainer"></td></tr>
    </tbody>
</table>
<script type="text/javascript" src="/Scripts/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/Scripts/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/Scripts/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="/Scripts/swfupload/handlers_sel.js"></script>
<script type="text/javascript">
    var type = '@ViewData["Type"]';
    var swfu;
    var fileArray = new Array();
    window.onload = function () {
        swfu = new SWFUpload({
            // Backend Settings
            upload_url: "/Upload/Index/",
            post_params: {},

            // File Upload Settings
            file_size_limit: "2 MB",
            file_types: "*.jpg;*.png;*.jpeg;*.gif;*.*",
            file_types_description: "JPG Images; PNG Images;BMP Images",
            file_upload_limit: 10,
            file_queue_limit: 0,

            swfupload_preload_handler: preLoad,
            swfupload_load_failed_handler: loadFailed,
            file_queued_handler: fileQueued,
            file_queue_error_handler: fileQueueError,
            //file_dialog_complete_handler: fileDialogComplete,
            upload_start_handler: uploadStart,
            upload_progress_handler: uploadProgress,
            upload_error_handler: uploadError,
            upload_success_handler: uploadSuccess,

            // Button Settings
            button_image_url: "/content/images/SmallSpyGlassWithTransperancy.png",
            button_placeholder_id: "spanButtonPlaceholder",
            button_width: 180,
            button_height: 18,
            button_text: '<span class="button">选择图片 <span class="buttonSmall">(最大2MB)</span></span>',
            button_text_style: '.button { font-family: 宋体; font-size: 12px; } .buttonSmall { font-size: 10px; }',
            button_text_top_padding: 0,
            button_text_left_padding: 18,
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
            button_cursor: SWFUpload.CURSOR.HAND,

            // Flash Settings
            flash_url: "/swf/swfupload.swf",
            flash9_url: "/swf/swfupload_fp9.swf",

            custom_settings: {
                progressTarget: "divFileContainer",
                cancelButtonId: "btnCancel"
            },

            // Debug Settings
            debug: false
        });
    };

    jQuery(document).ready(function () {
        $("#uploadButton").click(function () {
            $("#divPreview").html("");
            swfu.addPostParam("WaterMark", $("#selWaterMark").val());
            swfu.addPostParam("WaterMarkPosition", $("#selWaterMarkPosition").val());
            swfu.addPostParam("ThumHasWaterMark", $("#chHasWaterMark1").attr("checked") ? true : false);
            swfu.addPostParam("ThumType", $("#selThumType").val());
            swfu.addPostParam("ThumSize", $("#txtThumSize").val());
            swfu.startUpload();
        });

        $("#aOKButton").click(function () {
            if (type == "") {
                CKEditorOK();
            }
            else {
                Sel();
            }
        })
    });

    function Sel() {
        $("#divPreview img").each(function (i) {
            if (i == 0) {
                window.returnValue = $(this).attr("src");
                window.close();
                return false;
            }
        });
    }

    function OnSel(obj) {
        window.returnValue = $(obj).attr("src");
        window.close();
    }

    function CKEditorOK() {
        var imgurl = "";
        $("#divPreview img").each(function (i) {
            if (i == 0) {
                imgurl = $(this).attr("src");
                return false;
            }
        });
        window.top.opener.CKEDITOR.dialog.getCurrent().setValueOf('info', 'txtUrl', encodeURI(imgurl)); 
        window.top.close(); 
        window.top.opener.focus();
    }
</script>
</form>
</body>
</html>
