<?xml version="1.0" encoding="utf-8" ?>
<datasource>
  <datatype typeid="1" typename="新闻数据">
    <connkey>CMSDB</connkey>
    <table>NewsDoc</table>
    <primarykey>ID</primarykey>
    <fields></fields>
    <cnfields></cnfields>
    <where></where>
  </datatype>
  <datatype typeid="2" typename="推荐位置">
    <connkey>CMSDB</connkey>
    <table>RecommedPosition</table>
    <primarykey>ID</primarykey>
    <fields>ID,Name,ChannelID,LocationType,Summary,CreateTime</fields>
    <cnfields>ID,位置名称,栏目ID,位置类型,简介,创建时间</cnfields>
    <where></where>
    <AssociationTable>
      <datatype typeid="2" typename="推荐数据">
        <connkey>CMSDB</connkey>
        <table>RecommedInfoList</table>
        <primarykey>ID</primarykey>
        <foreignkey>LocationID</foreignkey>
        <fields>ID,Title,SmallPicUrl,BigPicUrl,Summary,LinkUrl,CreateTime,SortID</fields>
        <cnfields>ID,标题,缩略小图,缩略大图,简介,链接,发表时间,排序ID</cnfields>
        <where></where>
      </datatype>      
    </AssociationTable>
  </datatype>
</datasource>