.bg62 {
	Z-INDEX: 999; BACKGROUND: #fff; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 968px; opacity: 0.5; -moz-opacity: 0.5
}
.bg62 {
	FILTER: alpha(opacity=60)
}
.btn_fst {
	CURSOR: default
}
.btn_fst INPUT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: url(image/btn_fst.gif) no-repeat; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 73px; LINE-HEIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
.btn_fst INPUT:hover {
	BACKGROUND-POSITION: 0px -48px
}
.btn_fst INPUT.fst:hover {
	BACKGROUND-POSITION: 0px -48px
}
.btn_fst INPUT.fst {
	BACKGROUND-POSITION: 0px -24px
}
A.butn2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 102px; LINE-HEIGHT: 28px; PADDING-TOP: 8px; HEIGHT: 28px
}
A.butn2:hover {
	BACKGROUND: url(image/quick1.gif) no-repeat left -196px
}
A.butn3 {
	BACKGROUND: url(image/tb.gif) no-repeat left -327px; MARGIN: 5px 9px 0px 0px; WIDTH: 15px; HEIGHT: 15px
}
A.butn3:hover {
	BACKGROUND-POSITION: left -297px
}
.butdef {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 73px; PADDING-TOP: 3px
}
.butdef_n {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 73px; PADDING-TOP: 3px
}
.btn_fst INPUT.butdef_n {
	BACKGROUND: url(image/btn_fst.gif) no-repeat 0px -72px; COLOR: #aca899
}
.btn_fst INPUT.butdef_n:hover {
	BACKGROUND-POSITION: 0px -72px
}
.alert_t {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: #40537d; MARGIN: 0px 3px 0px 1px; OVERFLOW: hidden; HEIGHT: 1px
}
.alert_b {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 3px; BACKGROUND: url(image/laybj_b.gif) no-repeat left bottom; HEIGHT: 3px; TEXT-ALIGN: right
}
.alert_lay {
	Z-INDEX: 160; BACKGROUND: url(image/laybj.gif) #3d62a6 repeat-x left top; POSITION: absolute
}
.alert_lay .box {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; BACKGROUND: url(image/laybj_r.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #40537d 1px solid; PADDING-TOP: 0px
}
.alert_lay H1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 26px; PADDING-TOP: 2px; HEIGHT: 26px
}
.alert_lay H1 SPAN {
	FLOAT: left
}
.alert_lay H1 A {
	FLOAT: right
}
.alert_lay H1 IMG {
	MARGIN: 7px 0px 0px
}
.alert_lay LABEL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.alert_lay OL {
	LIST-STYLE-TYPE: none
}
.com_lay_ifrm {
	Z-INDEX: 999; POSITION: absolute
}
.com_lay_ifrmblk {
	MARGIN: 5px 0px 0px; WIDTH: 570px; POSITION: absolute; HEIGHT: 334px
}
.com_lay {
	WIDTH: 570px
}
.com_lay .blk {
	DISPLAY: block; BACKGROUND: #3d62a6; WIDTH: 566px; ZOOM: 1
}
.com_lay H1 {
	BACKGROUND: url(image/laybj.gif) #3d62a6 repeat-x left top
}
.com_lay .mysech {
	BORDER-RIGHT: #c2d8e3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c2d8e3 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 19px; MARGIN: 1px; BORDER-LEFT: #c2d8e3 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c2d8e3 1px solid; TEXT-ALIGN: center
}
.com_lay H5 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; MARGIN: 0px 3px 31px; LINE-HEIGHT: 33px; BORDER-BOTTOM: #c2cdd3 1px solid; TEXT-ALIGN: left
}
.com_lay LABEL {
	DISPLAY: inline-block; WIDTH: 120px; TEXT-ALIGN: right
}
.com_lay LI {
	MARGIN-BOTTOM: 7px
}
.com_lay .butn {
	MARGIN-LEFT: 44px; WIDTH: 107px; HEIGHT: 25px
}
.login_ifrm {
	Z-INDEX: 999; LEFT: 567px; POSITION: absolute
}
.login_ifrm IFRAME {
	MARGIN: 5px 0px 0px; WIDTH: 382px; HEIGHT: 240px
}
.login_lay {
	BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; WIDTH: 382px; POSITION: absolute; TOP: 0px
}
.login_lay .blk {
	BACKGROUND: #3d62a6; FLOAT: left
}
.login_lay H1 {
	BACKGROUND: url(image/laybj.gif) #3d62a6 repeat-x left top
}
.login_lay .blk DIV {
	BORDER-RIGHT: #c2d8e3 1px solid; PADDING-RIGHT: 47px; BORDER-TOP: #c2d8e3 1px solid; PADDING-LEFT: 47px; BACKGROUND: #fff; PADDING-BOTTOM: 33px; MARGIN: 1px; BORDER-LEFT: #c2d8e3 1px solid; PADDING-TOP: 33px; BORDER-BOTTOM: #c2d8e3 1px solid
}
.login_lay .blk DIV H2 {
	FONT-SIZE: 18px; MARGIN: 0px 0px 14px
}
.login_lay LABEL {
	CLEAR: both; TEXT-ALIGN: left
}
.login_lay P .inp {
	BORDER-RIGHT: #e2e3ea 1px solid; BORDER-TOP: #abadb3 1px solid; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #e2e3ea 1px solid; WIDTH: 154px; BORDER-BOTTOM: #e3e9ef 1px solid; HEIGHT: 18px
}
.login_lay P {
	LINE-HEIGHT: 27px
}
.login_lay EM {
	LINE-HEIGHT: 27px
}
.login_lay P A {
	MARGIN: 0px 0px 0px 10px
}
.login_lay EM {
	MARGIN: 0px 0px 0px 55px; FONT-STYLE: normal
}
.login_lay EM .but {
	MARGIN: 8px 0px 0px 44px; WIDTH: 80px; HEIGHT: 25px
}
.mynav_lay {
	POSITION: relative
}
.lay {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 600px; TOP: -96px
}
.lay .box DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e4ecf3; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-TOP: 1px; TEXT-ALIGN: right
}
.lay .box DIV A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; BACKGROUND: url(image/tb.gif) no-repeat left -357px; MARGIN: 0px
}
.lay .box UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 7px; WIDTH: 596px; PADDING-TOP: 8px
}
.lay .box UL LI {
	CLEAR: both; LINE-HEIGHT: 150%
}
.lay .box UL LI A {
	MARGIN-LEFT: 10px; FONT-FAMILY: "宋体"
}
.lay .box P {
	MARGIN-LEFT: 10px; FONT-FAMILY: "宋体"
}
.lay LI B {
	FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
.lay LI B A {
	COLOR: #03c
}
.lay .no {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.gray {
	COLOR: #ccc
}
A.gray:hover {
	COLOR: #ccc
}
A.blu {
	COLOR: #03c
}
.selay {
	Z-INDEX: 200; LEFT: 68px; POSITION: relative; TOP: 34px
}
.selay IFRAME {
	POSITION: absolute
}
.selay_blk {
	BORDER-RIGHT: #40537d 1px solid; BORDER-TOP: #40537d 1px solid; DISPLAY: inline; Z-INDEX: 200; BACKGROUND: #fff; BORDER-LEFT: #40537d 1px solid; WIDTH: 200px; BORDER-BOTTOM: #40537d 1px solid; POSITION: absolute
}
.selay_blk UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
.selay_blk UL LI {
	FONT-FAMILY: "宋体"
}
.selay_blk UL LI INPUT {
	VERTICAL-ALIGN: middle
}
.selay_blk UL LI:hover {
	BACKGROUND: #e4ecf3
}
.selay_blk UL LI A {
	MARGIN: 0px; WIDTH: 188px; CURSOR: default; COLOR: #000; FONT-FAMILY: "宋体"
}
.selay_blk UL LI A LABEL {
	FONT-FAMILY: "宋体"
}
.selay_blk UL LI A:hover {
	BACKGROUND: #e4ecf3; COLOR: #000
}
.selay_blk DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 0px
}
.selay_blk DIV INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 45px; PADDING-TOP: 3px
}
.sech_layt {
	BORDER-RIGHT: #8cb2d6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #8cb2d6 1px solid; PADDING-LEFT: 3px; BACKGROUND: #e4ecf3; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; BORDER-LEFT: #8cb2d6 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.sech_layb {
	BORDER-RIGHT: #8cb2d6 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: 0px; PADDING-LEFT: 9px; BACKGROUND: #fff; FLOAT: none; PADDING-BOTTOM: 10px; MARGIN: 0px 1px 1px; BORDER-LEFT: #8cb2d6 1px solid; PADDING-TOP: 9px; BORDER-BOTTOM: #8cb2d6 1px solid
}
.sech_lay {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sech_lay .blk {
	BACKGROUND: #3d62a6; FLOAT: left
}
.sech_lay H1 {
	BACKGROUND: url(image/laybj.gif) #3d62a6 repeat-x left top
}
.sech_lay OL {
	MIN-HEIGHT: 20px; HEIGHT: 20px
}
.sech_lay2 OL {
	MIN-HEIGHT: 20px; HEIGHT: 20px
}
.sech_lay H3 {
	CLEAR: both; FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.sech_lay H2 {
	CLEAR: both; FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.sech_lay H2 {
	PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px; HEIGHT: auto
}
#popupSelector H2 SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px
}
.sech_lay H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; BACKGROUND: url(image/lay_titbj.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px; HEIGHT: 33px
}
.sech_lay H3 SPAN {
	FLOAT: left; LINE-HEIGHT: 30px
}
.sech_lay H3 B {
	FLOAT: right
}
.sech_lay H3 B INPUT {
	FONT-WEIGHT: normal; MARGIN: 1px 0px 0px 6px
}
.sech_lay P {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 9px; MARGIN: 8px 0px 0px; LINE-HEIGHT: 150%; PADDING-TOP: 2px
}
.sech_lay2 {
	BACKGROUND: #fff
}
.sech_lay2 .box {
	PADDING-RIGHT: 10px; PADDING-LEFT: 6px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
.sech_lay2 LI {
	CURSOR: default
}
.sech_lay2 LI A {
	CURSOR: default; COLOR: #000; FONT-FAMILY: "宋体"
}
.sech_lay2 LI A LABEL {
	CURSOR: default; COLOR: #000; FONT-FAMILY: "宋体"
}
.sech_lay LI A {
	CURSOR: pointer; COLOR: #000; FONT-FAMILY: "宋体"
}
.sech_lay LI A LABEL {
	CURSOR: pointer; COLOR: #000; FONT-FAMILY: "宋体"
}
.sech_layb A {
	DISPLAY: block
}
.sech_lay2 A {
	DISPLAY: block
}
.sech_lay LABEL {
	DISPLAY: block
}
.sech_lay LI A:hover {
	COLOR: #000
}
.sech_lay2 LI A:hover {
	COLOR: #000
}
.sech_lay UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 10px
}
.sech_lay UL LI {
	TEXT-INDENT: 3px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.sech_lay UL LI A {
	BORDER-RIGHT: #e5ecf4 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #e5ecf4 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(image/tb.gif) no-repeat right -13px; PADDING-BOTTOM: 0px; BORDER-LEFT: #e5ecf4 1px solid; WIDTH: auto; LINE-HEIGHT: 16px; PADDING-TOP: 2px; BORDER-BOTTOM: #e5ecf4 1px solid; HEIGHT: 16px
}
#popupSelector UL LI A {
	LINE-HEIGHT: 150%
}
.sech_lay UL LI A:hover {
	BORDER-RIGHT: #3f557c 1px solid; BACKGROUND-POSITION: right -145px; BORDER-TOP: #3f557c 1px solid; BORDER-LEFT: #3f557c 1px solid; COLOR: #000; BORDER-BOTTOM: #3f557c 1px solid
}
.sech_lay OL LI INPUT {
	MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle
}
.sech_lay OL LI:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay OL LI A:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay OL INPUT {
	CURSOR: default
}
.lm OL LI {
	BACKGROUND: url(image/tb.gif) no-repeat 96% -55px; CURSOR: pointer
}
.lm OL LI:hover {
	BACKGROUND: url(image/tb.gif) #e4ecf3 no-repeat 96% -378px
}
.lm OL LI A:hover {
	BACKGROUND: url(image/tb.gif) #e4ecf3 no-repeat 96% -378px
}
.sech_lay2 OL LI:hover {
	BACKGROUND: #e4ecf3; CURSOR: default
}
.sech_lay2 OL LI A:hover {
	BACKGROUND: #e4ecf3; CURSOR: default
}
.sech_lay2 OL LI A:hover LABEL {
	BACKGROUND: #e4ecf3
}
.sech_lay2 OL LI INPUT {
	CURSOR: default
}
.lay_wll UL {
	MIN-HEIGHT: 60px; HEIGHT: 70px
}
.lay_wl UL {
	MIN-HEIGHT: 60px; HEIGHT: 70px
}
.lay_wl2 UL {
	MIN-HEIGHT: 60px; HEIGHT: 70px
}
.lay_wms UL {
	MIN-HEIGHT: 60px; HEIGHT: 70px
}
.lay_wll {
	WIDTH: 746px
}
.lay_wll LI {
	FLOAT: left; WIDTH: 360px
}
.lay_wl {
	WIDTH: 654px
}
.lay_wl LI {
	FLOAT: left; WIDTH: 314px
}
.lay_wl P {
	MIN-HEIGHT: 58px; HEIGHT: 68px
}
.lay_wl2 {
	WIDTH: 585px
}
.lay_wl2 LI {
	FLOAT: left; WIDTH: 284px
}
.lay_wls {
	WIDTH: 466px
}
.lay_wls UL {
	MIN-HEIGHT: 50px; HEIGHT: 50px
}
.lay_wls P {
	MIN-HEIGHT: 48px; HEIGHT: 48px
}
.lay_wls LI {
	FLOAT: left; WIDTH: 110px
}
.lay_ws LI {
	FLOAT: left; WIDTH: 110px
}
.lay_wm {
	WIDTH: 301px
}
.lay_wm LI {
	WIDTH: 284px
}
.lay_wms {
	WIDTH: 352px
}
.lay_wms LI {
	FLOAT: left; WIDTH: 170px
}
.lay_ws {
	WIDTH: 237px
}
.lay_wss {
	WIDTH: 114px
}
.lay_wss LI {
	WIDTH: 97px
}
.lay_wll LI A {
	WIDTH: 360px
}
.lay_wl LI A {
	WIDTH: 314px
}
.lay_wl2 LI A {
	WIDTH: 284px
}
.lay_wm LI A {
	WIDTH: 284px
}
.lay_wls LI A {
	WIDTH: 110px
}
.lay_ws LI A {
	WIDTH: 110px
}
.lay_wms LI A {
	WIDTH: 170px
}
.lay_wss LI A {
	WIDTH: 97px; WORD-BREAK: break-all
}
.sech_lay INPUT {
	MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: auto
}
.sech_lay2 INPUT {
	MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: auto
}
.sech_lay .layshow {
	BACKGROUND: url(image/tb.gif) #e4ecf3 no-repeat 96% -55px
}
.sech_lay .layicon {
	BACKGROUND: url(image/tb.gif) #cbf0fd no-repeat 96% -55px
}
.sech_lay .layon {
	BACKGROUND: #cbf0fd
}
.sech_lay2 .layon {
	BACKGROUND: #cbf0fd
}
.sech_lay .layon:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay2 .layon:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay .layon A {
	BACKGROUND: #cbf0fd
}
.sech_lay2 .layon A {
	BACKGROUND: #cbf0fd
}
.sech_lay .layon A:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay2 .layon A:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay .nonelay {
	BACKGROUND: #fff; CURSOR: default
}
.sech_lay .nonelay A {
	BACKGROUND: #fff; CURSOR: default
}
.sech_lay .nonelay:hover {
	BACKGROUND: #e4ecf3
}
.sech_lay .nonelay A:hover {
	BACKGROUND: #e4ecf3
}
