* {
	margin: 0px; padding: 0px;
}
img {
	behavior: url(/content/css/iepngfix.htc);
}
div {
	behavior: url(/content/css/iepngfix.htc);
}
a {
	behavior: url(/content/css/iepngfix.htc);
}
body {
	font-family: Arial, Tahoma, Verdana; font-size: 12px;
}
a {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
img {
	margin: 1px; border: 0px currentColor;
    vertical-align: middle;
    border: 0px;
}
p {
	padding: 3px;
}

input {
	padding: 2px;
}
select {
	padding: 2px;
}
#container {
	width: 1200px; margin-right: auto; margin-left: auto;
}
#header {
	width: 1200px;
}
#header h2 {
	margin-top: 20px;
}
#content {
	margin: 10px 0px; padding: 10px; width: 980px; float: left;
}
#sidebar {
	background: rgb(255, 255, 255); margin: 10px 0px; padding: 10px; width: 170px; float: right;
}
#footer {
	padding: 5px; clear: both; margin-top: 10px;
}
#box h3 {
	padding: 5px; font-size: 14px;
}
#sidebar ul {
	list-style: none; line-height: 22px;
}
#sidebar ul li a {
	margin: 0px 3px; padding-left: 19px; text-decoration: none; display: block;
}
#sidebar ul li a:visited {
	margin: 0px 3px; padding-left: 19px; text-decoration: none; display: block;
}
#sidebar ul li a:hover {
	text-decoration: underline;
}
#sidebar ul li ul {
	margin-left: 10px;
}
#sidebar h3 {
	padding: 2px; font-size: 14px;
}
#topmenu {
	width: 700px; margin-top: 33px; float: left; voice-family: inherit;
}
#topmenu ul {
	list-style: none; line-height: 25px;
}
#topmenu li {
	display: inline;
}
#topmenu a {
	padding: 5px 12px; text-decoration: none;
}
#topmenu a:visited {
	padding: 5px 12px; text-decoration: none;
}
#topmenu .current a {
	padding: 5px 12px; font-weight: bold;
}
#topmenu .current a:hover {
	padding: 5px 12px; font-weight: bold;
}
#topmenu .current a:visited {
	padding: 5px 12px; font-weight: bold;
}
#top-panel {
	background: rgb(255, 255, 255); padding: 5px; width: 950px; height: 20px; float: left;
}
#top-panel ul {
	list-style: none;
}
#top-panel ul li {
	line-height: 20px; display: inline;
}
#top-panel ul li a {
	margin: 0px 3px; padding-left: 19px; text-decoration: none; display: inline-block;
}
#top-panel a:hover {
	text-decoration: underline;
}
.a-right {
	text-align: right;
}
.a-left {
	text-align: left;
}
.a-center {
	text-align: center;
}
#pager {
	margin: 5px; height: 25px;
}
#styleswitcher {
	float: right;
}
#styleswitcher ul {
	list-style: none; line-height: 10px;
}
#styleswitcher li {
	height: 12px; display: inline;
}
#footer ul {
	list-style: none;
}
#footer li {
	display: inline;
}
a#defswitch {
	margin: 3px 0px; width: 15px; height: 10px; color: rgb(189, 63, 9); font-size: 8px; display: inline-block; background-color: rgb(189, 63, 9);
}
a#blueswitch {
	margin: 3px 0px; width: 15px; height: 10px; color: rgb(55, 91, 145); font-size: 8px; display: inline-block; background-color: rgb(55, 91, 145);
}
a#greenswitch {
	margin: 3px 0px; width: 15px; height: 10px; color: rgb(208, 224, 184); font-size: 8px; display: inline-block; background-color: rgb(208, 224, 184);
}
a#brownswitch {
	margin: 3px 0px; width: 15px; height: 10px; color: rgb(101, 67, 34); font-size: 8px; display: inline-block; background-color: rgb(101, 67, 34);
}
a#mixswitch {
	margin: 3px 0px; width: 15px; height: 10px; color: rgb(41, 65, 69); font-size: 8px; display: inline-block; background-color: rgb(41, 65, 69);
}
#credits {
	width: 200px; clear: both; float: left;
}
/*table {
	margin: 5px; width: 98%; border-collapse: collapse;
}
td {
	padding: 2px;
}
th {
	padding: 2px;
}*/
thead {
	
}
#infowrap li {
	
}
#infobox {
	width: 365px; margin-top: 10px; float: left;
}
#infobox h3 {
	padding: 5px; font-size: 14px;
}
.margin-left {
	margin-left: 5px;
}
#rightnow .reallynow {
	padding: 5px; font-size: 14px;
}
#rightnow h3 {
	padding: 0px 10px; font-size: 14px;
}
#rightnow .reallynow span {
	padding: 0px 2px; text-align: left; font-size: 14px; float: left; display: block;
}
#rightnow .reallynow a {
	padding: 0px 0px 0px 18px; text-align: right; font-size: 12px; font-weight: normal; text-decoration: none; margin-left: 4px; float: right; display: block;
}
#rightnow .reallynow a:hover {
	text-decoration: underline;
}
#rightnow .youhave {
	padding: 10px; font-size: 12px;
}
#rightnow a {
	font-weight: bold;
}
form {
	margin: 0px auto; padding: 10px;
}
form#form fieldset {
	padding: 5px 10px; line-height: 20px; margin-bottom: 10px; display: block;
}
form#form legend {
	padding: 3px; width: 254px; font-size: 12px; font-weight: bold; margin-bottom: 5px;
}
form#form label {
	width: 100px; text-align: right; padding-right: 10px; clear: left; margin-bottom: 5px; float: left; display: block;
}
form#form input {
	padding: 3px; margin-bottom: 5px;
}
form#form select {
	margin-left: 5px;
}
form#form textarea {
	padding: 5px; width: 410px; height: 200px; overflow: auto;
}
form#form option {
	background: rgb(255, 255, 255);
}
form#form optgroup option {
	
}
form#form #button1 {
	width: 205px; padding-right: 5px; font-weight: bold; margin-left: 8px; cursor: pointer;
}
form#form #button2 {
	width: 205px; padding-right: 5px; font-weight: bold; margin-left: 8px; cursor: pointer;
}
form#form #button1:hover {
	background-position: left;
}
form#form #button2:hover {
	background-position: left;
}

.input-txt {
    width: 250px;
}
.red {
    color: red;
}

.ntable{
    border: 0px;
}
.ntable td {
    border: 0px;
}
.icon {
	margin: 0px 3px; height: 20px; line-height: 20px; padding-left: 19px; text-decoration: none; display: inline-block;
}
.user {
	background: url("../img/icons/user.png") no-repeat left;
}
.useradd {
	background: url("../img/icons/user_add.png") no-repeat left;
}
.group {
	background: url("../img/icons/group.png") no-repeat left;
}
.search {
	background: url("../img/icons/magnifier.png") no-repeat left;
}
.online {
	background: url("../img/icons/world.png") no-repeat left;
}
.pagenew {
	background: url("../img/icons/page_add.png") no-repeat left;
}
.rss {
	background: url("../img/icons/rss.png") no-repeat left;
}
.feed {
	background: url("../img/icons/feed.png") no-repeat left;
}
.report {
	background: url("../img/icons/report.png") no-repeat left;
}
.house {
	background: url("../img/icons/house.png") no-repeat left;
}
.manage {
	background: url("../img/icons/cog.png") no-repeat left;
}
.manage_page {
	background: url("../img/icons/page_gear.png") no-repeat left;
}
.folder {
	background: url("../img/icons/folder.png") no-repeat left;
}
.promotions {
	background: url("../img/icons/coins.png") no-repeat left;
}
.cart {
	background: url("../img/icons/cart.png") no-repeat left;
}
.folder_table {
	background: url("../img/icons/folder_page.png") no-repeat left;
}
.shipping {
	background: url("../img/icons/car.png") no-repeat left;
}
.invoices {
	background: url("../img/icons/page_white_text_width.png") no-repeat left;
}
.addorder {
	background: url("../img/icons/folder_page_add.png") no-repeat left;
}
.add {
	background: url("../img/icons/add.png") no-repeat left;
}
.app_add {
	background: url("../img/icons/application_add.png") no-repeat left;
}
.report_seo {
	background: url("../img/icons/report_link.png") no-repeat left;
}
.modules {
	background: url("../img/icons/bricks.png") no-repeat left;
}
.modules_manage {
	background: url("../img/icons/bricks_gear.png") no-repeat left;
}

/*flickr style*/
div#flickrpager {padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px;; text-align: center}
div#flickrpager a {border: #dedfde 1px solid; padding-right: 6px; background-position: 50% bottom; padding-left: 6px; padding-bottom: 2px;  color: #0061de; margin-right: 3px; padding-top: 2px; text-decoration: none}
div#flickrpager a:hover {border: #000 1px solid;background-image: none; color: #fff;background-color: #0061de}
div#flickrpager a:active {border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de}
div#flickrpager span.current {padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #ff0084; margin-right: 3px; padding-top: 2px}
div#flickrpager a.disabled {padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #adaaad; margin-right: 3px; padding-top: 2px}
